@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-height: 900px) and (min-width: 1024px){
  .responive-height{
    transform: scale(0.8);
  }
  .no-scroll{
    overflow: hidden;
  }
  .height-scale {
    /*transform: scale(0.8);*/
  }
  .little-scale{
    transform: scale(0.8);
  }
  .hide-small-height{
    display: none;
  }
  .items-start{
    align-items: flex-start;
  }
  .small-fixed{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .chebu-scale{
    height: 60vh;
  }
}
@media screen and (max-height: 830px) and (min-width: 1024px){
  .height-scale {
    transform: scale(0.9);
  }
}
@media screen and (max-height: 800px) and (min-width: 1024px){
  .height-scale {
    transform: scale(0.8) translate(-50px, -50px);
  }
}
@media screen and (max-height: 720px) and (min-width: 1024px){
  .height-scale {
    transform: scale(0.7) translate(-100px, -100px);
  }
}
@media screen and (max-height: 500px) and (min-width: 1024px){
  .height-scale {
    transform: scale(0.5);
  }
}
